# English Premier League (EPL) Pythagorean Predictor

## Step 1

In [18]:
# Load the packages

import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
# Load the data. 
# EPL results for the 2017/18 season

EPL18 = pd.read_excel('EPL2017-18.xlsx')
print(EPL18.columns.tolist())

['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']

In [20]:
EPL18

         Date        HomeTeam      AwayTeam  FTHG  FTAG FTR
0    20170811         Arsenal     Leicester     4     3   H
1    20170812        Brighton      Man City     0     2   A
2    20170812         Chelsea       Burnley     2     3   A
3    20170812  Crystal Palace  Huddersfield     0     3   A
4    20170812         Everton         Stoke     1     0   H
..        ...             ...           ...   ...   ...  ..
375  20180513       Newcastle       Chelsea     3     0   H
376  20180513     Southampton      Man City     0     1   A
377  20180513         Swansea         Stoke     1     2   A
378  20180513       Tottenham     Leicester     5     4   H
379  20180513        West Ham       Everton     3     1   H

[380 rows x 6 columns]

## Step 2

In [21]:
EPL18['hw'] = np.where(EPL18['FTHG'] > EPL18 ['FTAG'],1,np.where(EPL18['FTHG'] == EPL18['FTAG'],0.5,0))
EPL18['aw'] = np.where(EPL18['FTHG'] < EPL18 ['FTAG'],1,np.where(EPL18['FTHG'] == EPL18['FTAG'],0.5,0))
EPL18['count'] = 1
EPL18

         Date        HomeTeam      AwayTeam  FTHG  FTAG FTR   hw   aw  count
0    20170811         Arsenal     Leicester     4     3   H  1.0  0.0      1
1    20170812        Brighton      Man City     0     2   A  0.0  1.0      1
2    20170812         Chelsea       Burnley     2     3   A  0.0  1.0      1
3    20170812  Crystal Palace  Huddersfield     0     3   A  0.0  1.0      1
4    20170812         Everton         Stoke     1     0   H  1.0  0.0      1
..        ...             ...           ...   ...   ...  ..  ...  ...    ...
375  20180513       Newcastle       Chelsea     3     0   H  1.0  0.0      1
376  20180513     Southampton      Man City     0     1   A  0.0  1.0      1
377  20180513         Swansea         Stoke     1     2   A  0.0  1.0      1
378  20180513       Tottenham     Leicester     5     4   H  1.0  0.0      1
379  20180513        West Ham       Everton     3     1   H  1.0  0.0      1

[380 rows x 9 columns]

## Step 3

In [22]:
games2017 = EPL18[EPL18['Date'] < 20180000]
games2017

         Date        HomeTeam      AwayTeam  FTHG  FTAG FTR   hw   aw  count
0    20170811         Arsenal     Leicester     4     3   H  1.0  0.0      1
1    20170812        Brighton      Man City     0     2   A  0.0  1.0      1
2    20170812         Chelsea       Burnley     2     3   A  0.0  1.0      1
3    20170812  Crystal Palace  Huddersfield     0     3   A  0.0  1.0      1
4    20170812         Everton         Stoke     1     0   H  1.0  0.0      1
..        ...             ...           ...   ...   ...  ..  ...  ...    ...
204  20171230      Man United   Southampton     0     0   D  0.5  0.5      1
205  20171230       Newcastle      Brighton     0     0   D  0.5  0.5      1
206  20171230         Watford       Swansea     1     2   A  0.0  1.0      1
207  20171231  Crystal Palace      Man City     0     0   D  0.5  0.5      1
208  20171231       West Brom       Arsenal     1     1   D  0.5  0.5      1

[209 rows x 9 columns]

In [23]:
home_teams = games2017.groupby('HomeTeam')['hw','FTHG','FTAG','count'].sum().reset_index()
home_teams = home_teams.rename(columns = {'HomeTeam':'team','FTHG':'goals_for','FTAG':'golas_against','count':'games'})
home_teams

/var/folders/dl/p7yynvfx1t71gxy40qg64jqr0000gn/T/ipykernel_46883/1873001095.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  home_teams = games2017.groupby('HomeTeam')['hw','FTHG','FTAG','count'].sum().reset_index()

              team   hw  goals_for  golas_against  games
0          Arsenal  8.5         25             10     10
1      Bournemouth  4.5         14             17     11
2         Brighton  5.5         10             12     10
3          Burnley  6.0          7              6     10
4          Chelsea  8.5         21              7     11
5   Crystal Palace  5.0         14             18     11
6          Everton  6.5         17             13     10
7     Huddersfield  6.0         10             12     11
8        Leicester  5.0         13             14     10
9        Liverpool  8.5         21              4     11
10        Man City  9.5         36              7     10
11      Man United  9.0         24              5     11
12       Newcastle  4.0          9             13     11
13     Southampton  5.0         13             15     11
14           Stoke  5.0         13             19     10
15         Swansea  3.0          6             15     10
16       Tottenham  7.5         21              8     10
17         Watford  4.5         14             23     11
18       West Brom  4.5         10             15     11
19        West Ham  4.0         10             14      9

In [24]:
away_teams = games2017.groupby('AwayTeam')['aw','FTHG','FTAG','count'].sum().reset_index()
away_teams = away_teams.rename(columns = {'AwayTeam':'team','FTHG':'goals_for','FTAG':'golas_against','count':'games'})
away_teams

/var/folders/dl/p7yynvfx1t71gxy40qg64jqr0000gn/T/ipykernel_46883/3445809639.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  away_teams = games2017.groupby('AwayTeam')['aw','FTHG','FTAG','count'].sum().reset_index()

              team    aw  goals_for  golas_against  games
0          Arsenal   5.0         16             13     11
1      Bournemouth   3.0         15              6     10
2         Brighton   3.0         13              5     11
3          Burnley   6.5         11             11     11
4          Chelsea   7.0          7             18     10
5   Crystal Palace   2.5         14              4     10
6          Everton   3.5         19              8     11
7     Huddersfield   3.0         20              8     10
8        Leicester   5.0         18             18     11
9        Liverpool   6.5         20             27     10
10        Man City  10.5          5             25     11
11      Man United   6.5         11             19     10
12       Newcastle   3.0         17             10     10
13     Southampton   3.0         15              7     10
14           Stoke   2.5         27             10     11
15         Swansea   3.0         17              7     11
16       Tottenham   5.5         12             18     10
17         Watford   4.5         14             16     10
18       West Brom   2.5         13              5     10
19        West Ham   3.0         24             12     11

## Step 4 (home team)

In [25]:
all2017games = pd.merge(home_teams, away_teams, on='team')
all2017games

,team,hw,goals_for_x,golas_against_x,games_x,aw,goals_for_y,golas_against_y,games_y
0,Arsenal,8.5,25,10,10,5.0,16,13,11
1,Bournemouth,4.5,14,17,11,3.0,15,6,10
2,Brighton,5.5,10,12,10,3.0,13,5,11
3,Burnley,6.0,7,6,10,6.5,11,11,11
4,Chelsea,8.5,21,7,11,7.0,7,18,10
5,Crystal Palace,5.0,14,18,11,2.5,14,4,10
6,Everton,6.5,17,13,10,3.5,19,8,11
7,Huddersfield,6.0,10,12,11,3.0,20,8,10
8,Leicester,5.0,13,14,10,5.0,18,18,11
9,Liverpool,8.5,21,4,11,6.5,20,27,10
10,Man City,9.5,36,7,10,10.5,5,25,11
11,Man United,9.0,24,5,11,6.5,11,19,10
12,Newcastle,4.0,9,13,11,3.0,17,10,10
13,Southampton,5.0,13,15,11,3.0,15,7,10
14,Stoke,5.0,13,19,10,2.5,27,10,11
15,Swansea,3.0,6,15,10,3.0,17,7,11
16,Tottenham,7.5,21,8,10,5.5,12,18,10
17,Watford,4.5,14,23,11,4.5,14,16,10
18,West Brom,4.5,10,15,11,2.5,13,5,10
19,West Ham,4.0,10,14,9,3.0,24,12,11

## Step 5 (home team)

In [33]:
all2017games['w'] = all2017games['hw'] + all2017games['aw']
all2017games['goals_for'] = all2017games['goals_for_x'] + all2017games['goals_for_y']
all2017games['goals_against'] = all2017games['golas_against_x'] + all2017games['golas_against_y']
all2017games['total_games'] = all2017games['games_x'] + all2017games['games_y']
epl2017 = all2017games[['team','w','goals_for','goals_against','total_games']]
epl2017

              team     w  goals_for  goals_against  total_games
0          Arsenal  13.5         41             23           21
1      Bournemouth   7.5         29             23           21
2         Brighton   8.5         23             17           21
3          Burnley  12.5         18             17           21
4          Chelsea  15.5         28             25           21
5   Crystal Palace   7.5         28             22           21
6          Everton  10.0         36             21           21
7     Huddersfield   9.0         30             20           21
8        Leicester  10.0         31             32           21
9        Liverpool  15.0         41             31           21
10        Man City  20.0         41             32           21
11      Man United  15.5         35             24           21
12       Newcastle   7.0         26             23           21
13     Southampton   8.0         28             22           21
14           Stoke   7.5         40             29           21
15         Swansea   6.0         23             22           21
16       Tottenham  13.0         33             26           20
17         Watford   9.0         28             39           21
18       West Brom   7.0         23             20           21
19        West Ham   7.0         34             26           20

## Step 6 (home team)

## Optional steps, not required for Assessment 
### (Uncomment to run)

In [26]:
# Plot the data

#sns.relplot(x="pyth17", y="wpc17", data =EPL17)

In [27]:
# Run the regression

#pyth_lm = smf.ols(formula = 'wpc17 ~ pyth17', data=EPL17).fit()
#pyth_lm.summary()

## Step 7 (=Step 4 (away team))

## Step 7 (=Step 5 (away team))

## Step 7 (=Step 6 (away team))

## Optional steps, not required for Assessment
### (Uncomment to run)

In [28]:
# Plot the data

#sns.relplot(x="pyth18", y="wpc18", data =EPL2018)

In [29]:
# Run the regression

#pyth_lm = smf.ols(formula = 'wpc18 ~ pyth18', data=EPL2018).fit()
#pyth_lm.summary()

## Step 8

## Step 9

## Optional steps, not required for Assessment
### (Uncomment to run)

In [30]:
#sns.relplot(x="pyth17", y="wpc18", data =Half2predictor)

In [31]:
#sns.relplot(x="wpc17", y="wpc18", data =Half2predictor)

Now you have completed the assignment, are these results consistent with those we found for Major League Baseball?